/*SCSS DOCUMENT*/

/*COLORS*/

$blue: #4DBCE9;
$blueaccent: #199acc;

$darkblue: #26ADE4;
$darkblueaccent: #1688b6;

$green: #D1E751;
$greenaccent: #b0ca1c;

$white: #ffffff;

$black: #333333;

/*MIXINS*/

@mixin true-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

/*UTILITY*/

.max-width {
    margin: 0 auto;
    max-width: 1200px;
}

.text-center {
    text-align: center;
}

.block-center {
    display: block;
    margin: auto;
}

/*GENERAL*/

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

body {
    color: $black;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .015em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $darkblueaccent;
    position: relative;
    text-decoration: underline;

    -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
}

a:hover {
    color: $greenaccent;
}

hr {
    border-top: 1px solid #ccc;
    margin: 5em 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 4.8em;
    font-weight: normal;
    line-height: 1.1;
    padding: 1em 0;
    text-transform: uppercase;
}

h3 {
    font-size: 2.5em;
    padding: 1em 0;
}

p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.2;
    padding: 0 0 1.5em;
}

.col {
    float: left;
}

.col.right {
    float: right;
}

.three-fourths {
    width: 75%;
}

.half {
    width: 50%;
}

.third {
    width: 33.3333%;
}

.fourth {
    width: 25%;
}

hr {
    background-color: #dddddd;
    height: 1px;
    margin: 0 auto;
    width: 75%;
}

.green-border {
    border-bottom: 4px solid $greenaccent;
    padding: 0 0 .25em;
}

.blue-border {
    border-bottom: 4px solid $blueaccent;
    padding: 0 0 .25em;
}

/*NAV*/

.sticky-wrapper {
    position: relative;
    width: 100%;
    z-index: 999;
}

.mobile-menu {
    display: none;
}

nav {
    background-color: $white;
    box-shadow: 0px 5px 40px #444;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    position: relative;
    width: 100%;
    z-index: 999;

    a {
        color: $black;
        font-weight: bold;
        text-decoration: none;
    }

    .ancillary,
    .nav-int {
        margin: 0 auto;
    }

    .ancillary {
        display: block;
        font-size: inherit;
        float: none;
        padding: 1.25em 0 0;
        position: relative;
        text-align: right;

        -webkit-transition: all .15s ease-in-out;
                transition: all .15s ease-in-out;
    }

    .ancillary ul {
        display: block;
    }

    .ancillary.hidden {
        height: 0;
    }

    .nav-int {
        display: table;
        position: relative;
        width: 100%;
    }

    .logo {
        display: table-cell;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2em;
        font-weight: 700;
        line-height: 1.75;
        padding: .75em;
        text-transform: uppercase;
        vertical-align: middle;
        width: 25%;
    }

    .logo-img {
        background-image: url(../img/cropped-logo.png);
        background-size: contain;
        float: left;
        height: 4em;
        margin: 0 0 0 1.5em;
        position: absolute;
        width: 4em;
    }

    .menu-wrap {
        box-shadow: none;
        display: table-cell;
        vertical-align: middle;
    }

    ul {
        float: right;
        padding: 0 2.75em 0 0;
    }

    li {
        display: inline-block;
        padding: 0 0 0 3em;
    }

    .nav-link:after {
        content: ' ';
        background-color: $darkblueaccent;
        bottom: -.9em;
        height: 4px;
        left: 0;
        position: absolute;
        width: 0;

        -webkit-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;
    }

    .nav-link:hover {
        color: $darkblueaccent;
    }

    .nav-link:hover::after {
        width: 100%;
    }
}

.button {
    border-radius: 5px;
    color: $white;
    display: block;
    font-weight: bold;
    min-width: 10em;
    padding: .75em 1.5em .75em;
    position: relative;
    text-align: center;

    -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
}

    .button::after {
        content: ' ';
        border-radius: 5px;
        height: 100%;
        left: 0;
        position: absolute;
        top: 3px;
        width: 100%;
        z-index: -1;
    }

.button:hover {
    color: $white;
}

.blue {
    background-color: $blue;
}

.green {
    background-color: $green;
}

.darkblue {
    background-color: $darkblue;
}

.black {
    background-color: $black;
    color: $white;
}

.button.blue::after {
    background-color: $blueaccent;
}

    .button.blue:hover {
        background-color: $blueaccent;
    }

.button.green::after {
    background-color: $greenaccent;
}

    .button.green:hover {
        background-color: $greenaccent;
    }

/*VIDEO*/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    height: 0;
    padding-bottom: 56.1702%;
    position: relative;
    z-index: 0;

    .cta {
        bottom: 0;
        font-size: 2em;
        padding: 3em 4em;
        position: absolute;
        left: 0;

        p {
            padding: 0;
        }

        .button {
            display: inline-block;
            margin: 1em 0;
            min-width: 0px;
            text-decoration: none;
            width: auto;
        }

        img {
            display: block;
            width: 10em;
        }

        h2 {
            color: $black;
            font-size: 2.75em;
            font-weight: lighter;
            padding-bottom: .2em;
        }

        p {
            color: $black;
            max-width: 20em;
        }
    }
}

@media screen and (min-width: 1500px) {
    .homepage-hero-module {
        padding-bottom: 45.1702%;
    }
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    z-index: -1;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/* CONTENT */

.container {
}

    .container.top {
        // box-shadow: 0 -5px 40px #444;
        position: relative;
        z-index: 1;
    }

    .container-int {
        padding: 5.5em 2.75em;
        z-index: 2;
    }

.section.intro {
}

    .intro-int {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

.section.services {
    text-align: left;

    img {
        max-width: 7em;
    }

    h2 {
        padding: 1em 0 2em;
    }

    h3 {
        font-weight: normal;
    }

    .half {
        padding: 3em;
    }

    .col.border {
        border-right: 1px solid #ddd;
    }
}

/* FOOTER */

footer {
    border-bottom: 4px solid $greenaccent;
    position: relative;
}

footer::after {
    content: ' ';
    width: 100vw;
    position: absolute;
    bottom: 0;
    border-bottom: 4px solid $blueaccent;
}

footer ul {
    list-style-type: none;
    font-size: 1.4em;
    font-weight: 300;
}

footer ul li {
    padding: .05em 0;
}

footer a {
    color: $greenaccent;
}

footer a:hover {
    color: $darkblueaccent;
}

.social ul li {
    display: inline-block;
    padding: 0 0 0 1em;
}

.social img {
    width: 2.5em;

    -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
}

.social img:hover {
    opacity: .5;
}

/* FORM */

form {
    display: block;
    font-size: 1.6em;
    margin: 0 auto 2em;
    max-width: 500px;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid $darkblueaccent;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    margin: 0 0 1.25em;
    padding: .75em;
    width: 100%;

    -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    box-shadow: 0px 0px 10px $green;
    border-color: $greenaccent;
    outline: none;
}

textarea {
    height: 9em;
}

label {
    display: block;
    margin: 0 0 .25em;
}

form .button {
    padding: 0;
}

form input[type="submit"] {
    background-color: transparent;
    color: $white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    height: 100%;
    padding: .75em 1.5em .65em;
    text-align: center;
    width: 100%;


    -webkit-appearance: none;
       -moz-appearance: none;
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
    body {
        font-size: 10px;
    }

    .homepage-hero-module {
        height: auto;
        padding-bottom: 0;
        position: relative;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.1702%;
    }

    .homepage-hero-module .cta {
        position: relative;
        padding: 2em 1em;
        text-align: center;
    }

    .homepage-hero-module .cta h2 {
        font-size: 2em;
        line-height: 1.1;
        padding: 0 0 .25em;
    }

    .homepage-hero-module .cta p {
        font-size: 1.2em;
        padding: .5em;
    }

    .homepage-hero-module .cta img {
        margin: 2em auto 0;
    }

    nav {
        box-shadow: 0px 5px 40px rgba(0,0,0,.3);
    }

    nav .menu-wrap {
        background-color: white;
        box-shadow: 0px 15px 19px rgba(0,0,0,.2);
        display: none;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .menu-wrap ul {
        float: left;
        padding: 1em;
    }

    nav li {
        display: block;
        padding: 0 0 1.5em;
    }

    nav .logo {
        display: inline-block;
        padding-left: 2.75em;
        width: auto;
    }

    nav .ancillary {
        left: 0;
        right: 0;
        font-size: .8em;
        position: absolute;
    }

    nav .ancillary ul {
        display: none;
    }

    .mobile-menu {
        cursor: pointer;
        display: block;
    }

    .mobile-menu svg {
        height: 3.5em;
        position: absolute;
        right: 2em;
        top: 2em;
        width: 3.5em;
        z-index: 999;
    }

    p {
        line-height: 1.4;
    }

    h2 {
        font-size: 4em;
        line-height: 1.5;
        padding: .5em 0 1em;
    }

    .green-border,
    .blue-border {
        padding: 0 0 .1em;
    }

    .container-int {
        padding: 1.5em 2.75em;
    }

    footer .third {
        width: 100%;
    }

    footer .col.right {
        float: left;
    }

    .social ul li {
        padding: 1em 1em .25em 0;
    }

    .half {
        width: 100%;
    }

    .section.services .col.border {
        border: none;
    }

    .section.services {
        text-align: center;
    }
}

@media (max-width: 1115px) and (min-width: 992px) {
    nav li {
        padding: 0 0 0 1.75em;
    }
}
